$background: #c2cfa1;
$background2: #dadcd6;
$background3: #fff0c3;

$backgroundonput: #c7c298;

$text: rgb(255,255,255);
$title: rgb(248,32,31);
$retro: #fbd744;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');